.details_container {
  background-color: #c27190;
  padding: 10%;
}

.flex {
  display: flex;
  flex-direction: row;
  padding: 1%;
}

.title {
  margin-left: 10%;
  color: rgb(214, 214, 214);
}

.t_bg {
  color: whitesmoke;
}

.icons {
  position: relative;
  top: -175px;
  left: -35px;
  font-size: 20px;
  color: white;
}

.imgs {
  margin-bottom: 5%;
}

@media screen and (min-width: 992px) {
  .icons {
    position: relative;
    top: -224px;
    left: -400px;
    font-size: 27px;
  }

  .title {
    margin-left: 39%;
  }
}
