* {
  padding: 0;
  margin: 0;
}

.details_container {
  background-color: #c27190;
  overflow: hidden;
  height: 100vh;
  padding: 15%;
}

.flex {
  display: flex;
  flex-direction: row;
  padding: 1%;
}

.title {
  color: rgb(214, 214, 214);
}

.t_bg {
  color: whitesmoke;
}

.t_bg-name {
  color: whitesmoke;
  margin: auto;
}

/* .icons {
  position: relative;
  top: -175px;
  left: -35px;
  font-size: 20px;
  color: white;
} */

.icons {
  display: none;
}

.imgs {
  margin: 10% 1% 10% -14px;
}

@media screen and (min-width: 768px) {
  .icons {
    display: block;
    position: relative;
    top: 34px;
    left: 50px;
    font-size: 25px;
    color: whitesmoke;
  }

  .title {
    margin-left: 39%;
  }

  .details_container {
    padding: 0;
    overflow: scroll;
  }

  .t_bg-name {
    margin: auto;
    color: whitesmoke;
  }

  .imgs {
    margin: 1% 0 2% 0;
  }
}
