* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  /* background-color: #fd5394; */
  background-color: #f074a4;
  padding: 20px;
  margin-bottom: 4%;
}

input {
  width: 55%;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid lightgray;
  margin-top: 20px;
}

form h1 {
  color: rgb(41, 41, 41);
}

.total {
  padding-bottom: 20px;
}

.grid-container {
  padding: 10px;
}

@media screen and (min-width: 992px) {
  input {
    width: 40%;
    padding: 15px;
    border-radius: 40px;
    border: 1px solid lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .search-bar__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .container {
    margin-left: 1%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
